# Introdução à Programação Python
## Informática Biomédica - UFCSPA
## Profa. Ana Trindade Winck 

#### 27 de Março de 2018

# Introdução à Programação Python
## Informática Biomédica - UFCSPA
## Profa. Ana Trindade Winck 

#### Dicionários


#### 27 de Março de 2018

Materiais retirados ou adaptados de Menezes, N.N.C. "Introdução à Programação com Python: algoritmos e lógica de programação para iniciantes". Novactec, 2014.

Códigos em python 3

# Dicionários:
## Conjunto chave-valor

### Criamos utilizando chaves {}. Cada elemneto do dicionário é uma combinação chave-valor

In [76]:
tabela = { "Alface": 0.45,
          "Batata": 1.20,
          "Tomate": 2.30,
          "Feijao": 1.50 }

print(tabela)

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijao': 1.5}

In [78]:
tabela["Alface"]
tabela["Tomate"]

2.3

In [79]:
print(tabela["Tomate"])

2.3

In [80]:
print(tabela)

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.3, 'Feijao': 1.5}

In [85]:
tabela["tomate"] = 2.50
print(tabela)

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.5, 'Feijao': 1.5, 'tomate': 2.5}

In [86]:
tabela["Tomate"]

2.5

In [87]:
tabela["Cebola"] = 1.20

In [88]:
print(tabela)

{'Alface': 0.45, 'Batata': 1.2, 'Tomate': 2.5, 'Feijao': 1.5, 'tomate': 2.5, 'Cebola': 1.2}

In [89]:
print(tabela["Manga"])

KeyError: 'Manga'

In [90]:
print("Manga" in tabela)

False

In [91]:
print("Batata" in tabela)

True

In [97]:
print(tabela.keys())

dict_keys(['Alface', 'Batata', 'Feijao', 'tomate', 'Cebola'])

In [96]:
print(tabela.values())

dict_values([0.45, 1.2, 1.5, 2.5, 1.2])

In [ ]:
while True:
    produto=input("Digite o nome do produto. Digite 'fim' para terminar: ")
    if produto == "fim":
        break
    if produto in tabela:
        print("Preco %5.2f" % tabela[produto])
    else:
        print("Produto nao encontrado")

In [98]:
del tabela["tomate"]

In [99]:
print(tabela)

{'Alface': 0.45, 'Batata': 1.2, 'Feijao': 1.5, 'Cebola': 1.2}

In [100]:
estoque = {"tomate": [1000, 2.3],
           "alface": [500, 0.45],
           "batata": [2001, 1.20],
           "feijao": [100, 1.5]}

In [103]:
estoque.keys()

dict_keys(['tomate', 'alface', 'batata', 'feijao'])

In [104]:
estoque.values()

dict_values([[1000, 2.3], [500, 0.45], [2001, 1.2], [100, 1.5]])

In [108]:
print(estoque["feijao"][0])

100

In [109]:
venda = [["tomate", 5], ["batata", 10], ["alface", 5]]

In [110]:
print(venda)

[['tomate', 5], ['batata', 10], ['alface', 5]]

# Strings

In [116]:
#Trabalhamos com strings como listas. Mas elas são imutáveis

s = "hellow world"
print(s[0])

h

In [112]:
s[0] = "a"

TypeError: 'str' object does not support item assignment

In [119]:
s = list(s)
print(l)

['h', 'e', 'l', 'l', 'o', 'w', ' ', 'w', 'o', 'r', 'l', 'd']

In [120]:
s = "".join(l)

hello world

In [121]:
nome = "Ana Winck"

In [124]:
nome.startswith("Ana")

False

In [123]:
nome.startswith("Viviane")

False

In [125]:
s = "O Rato roeu a roupa do rei de Roma"
s.lower()

'o rato roeu a roupa do rei de roma'

In [126]:
s.upper()

'O RATO ROEU A ROUPA DO REI DE ROMA'

In [127]:
s.lower().startswith("o rato")

True

In [128]:
s = "Viviane Botelho"

In [129]:
"Viviane" in s

True

In [130]:
"Botelho" in s

True

In [131]:
"Ane" in s

False

In [132]:
"ane" in s

True

In [133]:
"Ana" not in s

True

In [135]:
"ANE" in s.upper()

True

# Contagem

In [136]:
t = "um tigre, dois tigres, tres tigres"
t.count("tigre")

3

In [137]:
t.count("tigres")

2

In [138]:
t.count("z")

0

In [139]:
s = "hello world"
s.find("rld")

8

In [140]:
s.find("ok")

-1

In [141]:
#elementos mais a esquerda ou mais a direita
s = "um dia de sol"
s.rfind("d")

7

In [142]:
s.find("d")

3

In [144]:
#busuca a partir de uma posição
s = "um tigre, dois tigres, tres tigres"
s.find("tigres")

15

In [145]:
s.rfind("tigres")

28

In [146]:
s.find("tigres", 7) #a partir da posicao 7

15

In [147]:
s.find("tigres", 30)

-1

In [149]:
s.find("tigres",10,30)

15